main{
    background-color: red;
    display: grid;
    grid-template-columns: 2fr 1fr;
    width:70%;
    margin:auto;
}
header{
    background-color: green;
    grid-column: 1/3;
    padding: 20px;
}  
article{
    background-color: blue;
    height: 30em;
}
nav{
    background-color: aqua;
}
footer{
    background-color: blueviolet;
    grid-column: 1/3;
    padding: 20px;
}