*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 2fr 1fr;
    width:70%;
    margin:auto;
}

body{
    background-color: #786254;
}
header{
    background-color: #DC5900;
    grid-column: 1/3;
    padding: 20px;
}  
article{
    background-color: #AA6639;
    height: 30em;
}
nav{
    background-color: #C3601D;
}
footer{
    background-color: #DC5900;
    grid-column: 1/3;
    padding: 20px;
}

table{  
    border-collapse: collapse;
    margin: auto;
    
}

td{
    border: 1px solid orange;
    text-align: center;
    color: white;
}

th{
    background-color: #C3601D ;
    color: #786254;
    text-align: center;
    width: 100px;
    border:1px solid orange;
}
nav ul{
    margin: auto;
    list-style-type: none;
}
nav ul li{
    display: grid;
    grid-template-columns: 1fr;
}
nav ul li a{
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 1em;
}
nav ul li a:hover{
    background-color: #786254;

}
@media (max-width:400px) {
    body{
        font-size: 4vw;
    }
    main{
        grid-template-columns: 1fr;
    }
    header{
        grid-column: 1;
    }
    footer{
        grid-column: 1;
    }
    nav{
        grid-row:2;
    }

}